.nftTypeSelect {
  opacity: 0.3;
  width: 100px;
  height: 30px;
  border-radius: 5px;
}

.cardNft {
  /* display: inline-flex; */
  background: transparent;
}

.back-drop{
  background:rgba(53, 53, 53, 0.47);
  backdrop-filter:blur(175px);
  box-shadow: 0px 2px 20px 3px #000;
}
.card:hover{
  border-color: rgb(6, 85, 204);
  box-shadow: 0px 2px 20px 2px rgb(13, 110, 253);
  transition: ease-out 0.5s;
}
.card-text {
  font-size: 14px;
}

.card-img-top {
  height: 400px;
}

/* .cardNft {
  margin: 10px;
} */

@media only screen and (max-width: 768px) {
  .card-text {
    font-size: 10px;
  }

  .card-title {
    font-size: 15px;
  }

  .cardNft {
    width: 10rem;
  }

  .btncheck {
    font-size: 10px;
  }

  .card-img-top {
    height: 100px;
  }
}

.nftPageImg{
  height: 400px;
}