div.indexer-form {
    width: 55%;
    /* transition: ease all 1s; */
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

@media only screen and (max-width: 1000px) {
    div.indexer-form {
        width: 90%;
    }
}